*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

html
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}
body
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5em 1fr 1fr;
    

}
header 
{
    display: flex;
    flex-direction: row;
    float: right;
}
#sign{
    margin-top: 10px;
}
#sign > button {
    background-color:#1a73e8;
    color: white;
    border-radius: 15px;
    height: 35px;
    width: 75px;
    font-size: 13px;
}
#gofr
{
    position: relative; 
    top:0.5em;
}
p
{
    padding:10px;
    
}
#apps
{
    height: 30px;
    width: 30px;
    padding:10px;
    margin-top: 5px;;
}
#firstrow{
background-color:/* grey;*/

}
#secondrow{
/*background-color: honeydew;*/
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.overall{
    /*border: 1px solid red;*/
    display: flex;
    height: 35px;
}
#search1 {
height: 30px;
width: 40em;
border-radius: 20px;
background-image:url(../images/lupa.png);
position: left;
padding-left: 30px;
background-size:29px;
background-repeat: no-repeat;
padding-right: 30px;
border: 1px solid rgba(128, 128, 128, 0.308);
}

#microf{
height: 28px;
margin-top: 4px;
margin-left: -40px;
margin-top:  1px;
position:relative;
top: 10px;
}

/*
.lupa > img{
    height: 30px;
    position: static;

}
*/
.mic > img {
    height: 30px;
}
.button{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
}
.btn {
    position: relative;
    top:1em;
   
   font-size: 13px;
   background-color: rgba(144, 144, 150, 0.219); 
   border-radius: 8px;
   border: none;
height: 3em;
width: 200px;
margin:1em;

}

#thirdrow{
position: relative;
/*border: 1px solid red;*/
margin-top: auto;
margin-bottom: 0%;

}
#foogle
{
    width: 250px;
    /*border: 1px solid red;*/
}
#country
{
background-color: rgba(220, 220, 220, 0.288);
position: relative;
border-bottom: 1px solid rgba(128, 128, 128, 0.356);
}
footer
{
    display: flex;
    background-color: rgba(220, 220, 220, 0.288);
    position: relative;
    bottom:0%;
}

#footer1{
display: flex;
flex-direction: row;
}

#footer2{
display: flex;
margin-left: auto;
}